* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin-left: 25px;
    margin-top: 50px;
    width: 23em;
}

span:nth-child(1) {
    color: rgb(63, 194, 137);
    font-weight: 700;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

span:nth-child(2) {
    color: rgb(63, 194, 137);
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.special, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: rgb(63, 194, 137);
    font-weight: 700;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

a:visited {
    color: rgb(0, 119, 255);
}
